section.checkout-form {
    width: 60%;
    border-right: 1px solid #e7e7e7;
    
    .checkout-form-block {
        padding: 50px 40px;
        border-bottom: 1px solid #e7e7e7;

        width: 100%;

        &:last-child {
            border-bottom: 0;
        }

        .checkout-form-block-title {
            display: flex;
            align-items: center;

            width: 100%;
            margin-bottom: 30px;

            .step-number {
                display: flex;

                justify-content: center;
                align-items: center;

                width: 48px;
                height: 40px;

                mask: url("../../../images/icons/icon-bg.svg");
                mask-size: contain;
                mask-position: center;

                background: #041E42;

                color: #fff;
                font-size: 24px;
                font-weight: 700;

                margin-right: 20px;

                img {
                    height: 18px;
                    width: 18px;
            
                    object-fit: contain;
                    object-position: center;
                }
            }

            font-size: 18px;
            font-weight: 600;

            color: #1f1f1f;
        }

        .custom-form-row {
            display: flex;
            width: 100%;

            margin-bottom: 20px;
            padding-left: 50px;

            .custom-form-block {
                width: calc(100% - 40px);
                margin: 0 20px;

                label {
                    width: 100%;
    
                    font-size: 12px;
                    line-height: 12px;
    
                    font-weight: 400;
                    color: #999;
    
                    margin-bottom: 10px;
                }

                .custom-input {
                    padding: 0 20px;

                    width: 100%;
                    height: 40px;

                    border: 1px solid #e7e7e7;
                    outline: none;

                    border-radius: 0;

                    font-size: 14px;
                    color: #1f1f1f;

                    -webkit-appearance: none;

                    &::placeholder {
                        color: #808080;
                    }
                }
                .custom-radio-block {
                    display: block;

                    padding-left: 20px;
                    max-width: 300px;

                    margin-bottom: 10px;

                    label {
                        font-size: 14px;
                        line-height: 14px;
        
                        font-weight: 400;
                        color: #1f1f1f;
                        
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    section.checkout-form {
        width: 100%;
        border-right: 0;

        .checkout-form-block {
            .custom-form-row {
                flex-wrap: wrap;
                padding: 0;
                margin: 0;

                .custom-form-block {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    section.checkout-form {
        width: 100%;
        border-right: 0;

        .checkout-form-block {
            .custom-form-row {
                flex-wrap: wrap;
                padding: 0;
                margin: 0;

                .custom-form-block {
                    width: calc(50% - 40px);
                    margin: 0 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }

}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    section.checkout-form {
        width: 55%;

        .checkout-form-block {
            .custom-form-row {
                padding: 0;
                margin: 0;

                .custom-form-block {
                    margin: 0 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}